<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info User Page</title>
</head>
<body>


<div class="position">
    <h3>User page</h3>
    <br>
    <p><b>ID, </b><span th:text="*{infoUser.id}"/></p>
    <p><b>User Name, </b><span th:text="*{infoUser.name}"/></p>
    <p><b>Your Last Name, </b><span th:text="*{infoUser.lastName}"/></p>
    <p><b>Your Login, </b><span th:text="*{infoUser.login}"/></p>
    <p><b>Your Password, </b><span th:text="*{infoUser.password}"/></p>
    <p><b>Your Role, </b><span th:text="*{infoUser.roles}"/></p>
</div>


<form class="position" method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
<br>

</body>
<style>
    .position {
        position: relative;
        margin-left: 10%;
    }

    h2 {
        position: relative;
        margin-left: 10%;
        padding-top: 10px;
    }

    body {
        background-color: #bbbbbb;
        color: #312e2e
    }
</style>
</body>
</html>